; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; ----------- block pipes to avoid using ladder in final section of tunnel
{
    ; invisible block
    "origin" "-2366 -8664 60"
    "angles" "0 -45 0"
    "mins" "0 0 -120"
    "maxs" "960 32 212"
    "boxmins" "0 0 -120"
    "boxmaxs" "960 32 212"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

; =====================================================