; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; -------- SI-assist: made exploit-fixed lights solid for infected
{
    ; invisible block - light 1
    "origin" "10620 -8898 145"
    "mins" "-12 0 -16"
    "maxs" "2 18 0"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible block - light 2
    "origin" "10620 -8400 145"
    "mins" "-12 0 -16"
    "maxs" "2 18 0"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible block - light 3
    "origin" "10620 -8114 145"
    "mins" "-12 0 -16"
    "maxs" "2 18 0"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}

{
    ; invisible block - light 4
    "origin" "10620 -7846 145"
    "mins" "-12 0 -16"
    "maxs" "2 18 0"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

; =====================================================