; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
filter:
; -------- remove shopping cars that'd be useable pre-event
{
    "hammerid" "1349581"
}
{
    "hammerid" "1349585"
}
{
    "hammerid" "1349621"
}

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

add:
; --- block hunter SI getting off/under map and behind a one-way wall
{
    ; invisible block above building in missing clip
    "origin" "-3648 2152 1464"
    "mins" "-240 -136 -8"
    "maxs" "240 136 8"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- replace barrel with non-movable type to prevent shortcut
filter:
{
    "hammerid" "1719887"
}
add:
{
    ; non-movable barrel
    "solid" "6"
    "angles" "8 344.5 -5"
    "origin" "-5503 319 312"
    "model" "models/props_fairgrounds/traffic_barrel.mdl"
    "classname" "prop_dynamic"
}
; =====================================================