; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; ---- block jumping subway cars @ 2-car choke point
{
    ; invisible block (front side)
    "origin" "6170 3350 -170"
    "mins" "-100 -80 0"
    "maxs" "140 20 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block (back side)
    "origin" "7050 2860 -170"
    "mins" "-100 -80 0"
    "maxs" "0 80 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
; @        Dots / Circle Squared / o2        @
; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

; =====================================================